/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
:is(ul, ol) {
  list-style: none;
  padding: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Avoid orphans on paragraphs */
p {
    text-wrap: pretty;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Make labels and input take up the full width */
label, input {
  display: block;
}


/* FONTS */

@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-Regular.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-Bold.woff2) format("woff2");
    font-weight: 700;
}


/* CUSTOM PROPERTIES */

:root {
    /* COLORS */
    --clr-tomato: hsl(4, 100%, 67%);
    --clr-dark-slate-grey: hsl(234, 29%, 20%);
    --clr-charcoal-grey: hsl(235, 18%, 26%);
    --clr-grey: hsl(231, 7%, 60%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-pink: hsl(349, 100%, 66%);

    /* TYPOGRAPHY */
    --ff-roboto: 'Roboto';
    --fw-400: 400;
    --fw-700: 700;
}


/* UTILITIES */

.visually-hidden {
  clip-path: inset(50%);
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
  height: 1px;
}

.flow {
  --flow-space: 1.5em;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}


/* GENERAL STYLING */

body {
  font-family: var(--ff-roboto), sans-serif;
  background-color: var(--clr-charcoal-grey);
  color: var(--clr-dark-slate-grey);

  @media (width > 40rem) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    padding: 1rem;
  }
}

.card {
  background-color: var(--clr-white);
  max-width: 55rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "image"
    "text";
    gap: 2rem;

  @media (width > 40rem) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "text image";
    padding: 1.5rem;
    border-radius: 30px;
  }
 
}

.image-wrapper {
  grid-area: image;

  img {
    width: 100%;
  }
}

.text-wrapper {
  grid-area: text;
  align-self: center;
  padding: 1rem;
}

.card-heading {
  font-size: 2.7rem;
}

.card-list {
  --flow-space: 1em;
}

.card-list__item {
  line-height: 1.6;
  display: flex;
  gap: 1em;
  align-items: center;
}

.card-list__item::before {
  content: url('assets/images/icon-list.svg');
}

.label {
  font-weight: var(--fw-700);
}

#email {
  --flow-space: .5em;
  padding: .7em 1.5em;
  border-radius: 5px;
  border: 1px solid var(--clr-grey);
  width: 100%;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 1em 3em;
  background-color: var(--clr-dark-slate-grey);
  color: var(--clr-white);
  cursor: pointer;
  font-weight: var(--fw-700);
  width: 100%;
  --flow-space: 1.2em;

  &:is(:focus-visible, :active, :hover) {
    background: linear-gradient(45deg, var(--clr-pink), var(--clr-tomato));
    outline: transparent;
    transition: .1s ease-in-out;
    box-shadow: 0 2px 5px 3px rgb(0 0 0 /.1);
  }
}